*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
SeatbeltCounter2/.vs/SB2/v15/.suo

RaterServer/node_modules/\.bin/

RaterServer/node_modules/accepts/

RaterServer/node_modules/

RaterServer/Logs/

RapRater/android/gradle\.properties

RaterServer/SqlServer/serverConfig\.json

/App/android/app/build
